#backgroundImg {
  background-image: url('../images/backgroundimg.jpg');
  background-size: cover;
  height: auto;
  width: 105%;

}


#flexRow {
  display: flex;
  flex-direction: column;

}

#header {
  position: relative;
  color: #04D939;
  max-width: fit-content;
  text-shadow: 1px 1px 2px #023E73, 0 0 .5em #04BFAD, 0 0 1em #62A1D9;
  -webkit-text-stroke: 0.6px rgb(0, 0, 0);
  font-family: Minecraft Evenings;
  width: 800px;
  font-size: 50px;
  text-align: center;
}

#Cards {
  color: #04D939;
  text-shadow: 1px 1px 2px #023E73, 0 0 1em #026873, 0 0 0.2em #62A1D9;
  position: relative;
  justify-content: center;
  box-shadow: 10px 10px 10px #04BFAD;
  left: 25%;


}

#Cards:hover {
  max-width: 60%;
  max-height: none;
  justify-content: center;
  box-shadow: 10px 10px 10px brown;
  color: brown;

  position: relative;
  left: 18%;



}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}