#flexRow {
  display: flex;
  flex-direction: column;
}

#Cards {
  color: #04D939;
  text-shadow: 1px 1px 2px #023E73, 0 0 1em #026873, 0 0 0.2em #62A1D9;
  position: relative;
  left: 50%;
  right: 50%;
  justify-content: center;
  box-shadow: 10px 10px 10px #04BFAD;


}

#Cards:hover {
  max-width: none;
  max-height: none;
  justify-content: center;
  box-shadow: 10px 10px 10px brown;
  color: brown;

}