.cardFor {
    color: white;
    border: 2px single grey;
    background-color: grey;
    margin: 20px 5px 5px 5px;
    height: 20vh;
    width: 95vw;
    max-width: 88vw;
    border: 4mm ridge #a7a7a7;
    text-align: center;


}

#creepBox {
    box-shadow: inset 0px 0px 5px 2px grey;
    background-image: url('../images/dirt.jpg');
    margin: 5px 5px 5px 5px;
    height: 30vh;
    width: 95vw;



}   

#forText {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 12%;
    bottom: 1px;

   
    
}

#forDrop {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 60%;
    bottom: 20px;
}

#forText2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 71%;
    bottom: 38px;
}

#forText3 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    bottom: 20px
}

#bracket {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
    bottom: 30px
}



#username {
    text-align: center;
    padding: 5px;
    color: #04D939;
    text-shadow: 2px 2px 2px #050505, 0 0 .5em #04BFAD, 0 0 1em #f2f1f7;

}


